#games-app table{
    display: block;
}
#games-app tbody{
    max-height: 262px;
    overflow: auto;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.blackout{
    overflow: auto;
}