.blackout{
    overflow: auto;
}
.request-edit-modal{
    top: 10%!important;
    width: 80%!important;
    margin-left: -40%!important;    
}

.coachesList{
    width: 50%;
    padding: 5px;
    background-color: #fff3e0;
    border-radius: 10px;
}

.coachesList ul li{
    display: block;
    list-style-type: none;
    background-color: #51a7ff;
    padding: 5px;
    border-radius: 4px;
    margin-top: 10px;
    color: #fff;
    text-shadow: 0 0 4px #000;  
}

.coachesList ul li i.fa-times{
    float: right;
    margin: 4px;
    cursor: pointer;
}

.coachesList ul li i.fa-times:hover{
    color: #e4e4e4;
}

.addCoach{
    color: #51a7ff;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: underline;
}

.addCoach:hover{
    text-decoration: none;
}

.footer-update-button{
    margin-right: 10px;
}

.coachAddForm{
    width: 50%;
    padding: 5px;
    background-color: #e2f2ff;
    margin-top: 10px;  
}

.preview{
    position: absolute; 
    top: 0%; 
    left: 0%; 
    right: 0%; 
    bottom: 0%; 
    z-index: 100000; 
    background-color: #fff;
}

.preview table thead tr th:nth-child(1),
.preview table thead tr th:nth-child(2),
.preview table tbody tr td:nth-child(1),
.preview table tbody tr td:nth-child(2){
    width: 0px!important;
    padding: 0px!important;
}

.export-box{
    margin: 10px 0 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 5px;    
}

.export-box .btn{
    margin-right: 10px;
    margin-bottom: 5px;
}
.print-export i{
    font-size: 25px;
    color: #656565;    
}
.word-export i{
    font-size: 25px;
    color: #345297;
}
.export-box .fa-envelope{
    font-size: 23px;
    color: #5f9eff;
}

.export-box .fa-mobile{
    font-size: 23px;
    color: #9C27B0;
    margin: 0 6px;
}