.users-edit-modal{
    top: 10%!important;
    width: 60%!important;
    margin-left: -30%!important;    
}

.custom-modal h6{
    font-size: 25px;
}

.fa-file-archive-o{
    font-size: 25px;
    color: #b31b44;
}