<div id="RequestForm">
    <form>
        <div class="form-group">
            <label for="surname">Прівзвище</label>
            <input type="text" class="form-control" id="surname" placeholder="Прізвище">
        </div>
        <div class="form-group">
            <label for="firstName">Ім'я</label>
            <input type="text" class="form-control" id="firstName" placeholder="Ім'я">
        </div>
        <div class="form-group">
            <label for="middleName">По-батькові</label>
            <input type="text" class="form-control" id="middleName" placeholder="По-батькові">
        </div>
        <div class="form-group">
            <label for="birthDate">Дата народження</label>
            <input type="text" id="birthDate">
        </div>
        <div class="form-group">
            <label>Серія та номер паспорта</label>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control" id="seriaOfpass" placeholder="НН">
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="numberOfPass" placeholder="ХХХХХХ">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Надіслати</button>
    </form>
</div>